.sign-up {
   width: 500px;
   display: flex;
   flex-direction: column;
   border: 1px solid #E7E7E7;

   .sign-up__form {
      width: 100%;
      padding: 0 15px 0 15px;

      .sign-up__username {
         width: 100%;
         display: flex;
         flex-direction: column;
         margin-top: 20px;
      }

      & input {
         border: 1px solid #E7E7E7;
         width: 100%;
         height: 50px;
         margin-top: 5px;
         padding-left: 15px;
      }

      & input::placeholder {
         color: #A8A8A8;
      }
   }

   .sign-up__form :not(:first-child, :last-child) {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
   }
}